@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    margin: 0;
    font: 400 1.6rem/2 'Roboto', sans-serif;
}

a, button {
    transition: all .4s ease-in;
}